.container_wrapper
{
    position: absolute;
    right: 2%;
    bottom: 4%;
    background-color:whitesmoke;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.chat_wrapper::-webkit-scrollbar {
  display: none;
}

.chat_wrapper
{
    height: 94%;
    overflow-y: auto;
    
}

.input_wrapper{
    
    width:500px;
    height: 6%;
    margin: 10px 0 ;
}
